<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="masterjk">
    <resultMap id="ms" type="master">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="password" column="password"/>
        <result property="rmb" column="rmb"/>
    </resultMap>
    <sql id="mz">
        id,name,age,password,rmb
    </sql>
    <select id="selectcz" resultMap="ms">
        SELECT * FROM master;

    </select>
    <insert id="insertcz" parameterType="master" useGeneratedKeys="true">
        insert into master (<include refid="mz"/>)
        values (#{id},#{name},#{age},#{password},#{rmb})
    </insert>
    <delete id="deletecz" parameterType="master">
        delete from master where id=#{id};
    </delete>
    <update id="updatecz" parameterType="master">
        update master set name=#{name},age=#{age},password=#{password},rmb=#{rmb} where id=#{id};
    </update>
</mapper>